<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <h4>Error: {{message}}</h4>
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
        </div>
        </div>
    </div>
</div>
